<div class="container">
    <div class="row">
        <div class="col-md-12 p-4">
            <p>Balance: <span [ngClass]="{'text-success': existingBalance > 0,'text-danger':existingBalance <= 0}"><b>{{existingBalance}}</b></span></p>
            <form [formGroup]="balanceForm">                
                  <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example1">Balance</label>
                    <input type="number" id="form2Example1" formControlName="balance" class="form-control" disable />
                  </div>
                  <div class="float-start">
                    <input type="submit" (click)="closeModal()" value="Close" class="btn btn-danger btn-sm btn-block mb-4">
                  </div>
                  <div class="float-end">
                      <input type="submit" (click)="addMinusBalance(true)" value="Add" class="btn btn-primary btn-sm btn-block mb-4 mx-2">
                      <input type="submit" (click)="addMinusBalance(false)" value="Minus" class="btn btn-danger btn-sm btn-block mb-4">
                  </div>
            </form>
        </div>
    </div>
</div>