<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item info"  *ngFor="let counter_ of countersProfitLoss">
                    <div class="row">
                        <div class="col-md-1 col-sm-1 col-1">
                            <p class="counterListText badge bg-warning text-dark">{{counter_?.number}}</p>
                        </div>
                        <div class="col-md-2 col-sm-12 col-12">
                            <p class="counterListText">{{counter_?.date}}</p>
                        </div>                        
                        <div class="col-md-2 col-sm-12 col-12">
                            <p class="counterListText"><span class="d-xs-inline-block d-sm-inline-block d-sm-inline-block d-md-none d-lg-none dxl-none dxxl-none me-1"><b>Total bet</b></span><span class="text-primary">{{counter_?.totalBet}}</span></p>
                        </div>
                        <div class="col-md-2 col-sm-12 col-12">
                            <p class="counterListText"><span class="d-xs-inline-block d-sm-inline-block d-sm-inline-block d-md-none d-lg-none dxl-none dxxl-none me-1"><b>Profit</b></span><span [ngClass]="{'text-success': counter_?.profit > 0,'text-danger':counter_?.profit <= 0}" class="text-primary">{{counter_?.profit}}</span></p>
                        </div>       
                        <!-- <div class="col-md-3 col-sm-12 col-12"> 
                            <div class="float-end">           
                                <button class="btn btn-primary btn-sm btn-danger" (click)="openBalanceModal()">Balance</button>
                            </div>
                            <div class="float-end">           
                                <button class="btn btn-primary btn-sm btn-success mx-2" (click)="openDetails(counter_?.number)">Details</button>
                            </div>
                        </div> -->
                    </div>
                      
                </li>                
              </ul> 
        </div>
    </div>
</div>
